<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-nav ">
    <a class="navbar-brand ml-5">

        <em class="text-success">Trener</em>

    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4"></div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link mr-5 " href="/manager/TablePlayer">Zawodnicy</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link " href="/">Strona główna</a>
        </li>
    </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <form th:action="@{/manager/modifyPlayer}" method="post" th:object="${player}"
                  enctype="multipart/form-data">

                <input type="text" th:field="*{id}" class="form-control" hidden="hidden" readonly="readonly"/>
                <input type="text" th:field="*{date}" class="form-control" hidden="hidden" readonly="readonly"/>
                <input type="text" th:field="*{pension}" class="form-control" hidden="hidden" readonly="readonly"/>
                <input type="text" th:field="*{newPension}" class="form-control" hidden="hidden" readonly="readonly"/>


                <div class="form-group">
                    <label class="text-success">Ustaw nową date kontraktu:</label>
                    <input type="date" th:field="*{newDate}" class="form-control"/>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="POTWIERDŹ"/>
                    <input class="btn btn-danger" type="reset" value="RESET"/>
                </div>


            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


<script type="text/javascript">


    function validation() {

        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var radios = document.getElementsByName("position");
        var age = document.getElementById("age").value;
        var checkbox = document.getElementsByTagName("input");
        var newVar = 0;
        console.log(checkbox);


        if (name == '' || surname == '') {
            alert('Jedno z pól tekstowych jest puste');
            return false;
        }


        if (age < 18 || age > 50) {
            document.getElementById('ageError').innerHTML = "Wiek musi byc  z przedziału 18-50";
            return false;
        }
    }


</script>
</body>
<style>
    .btn-success {
        background-color: #23415C;
        border: none;
    }

    .navbar {
        background-color: #23415C;
    }

    .nav-link {
        color: white;
    }

</style>

</html>

