<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

<div th:include="navigation/navigation">Navigation</div>

<div class="jumbotron">
    <div class="container">

        <div class="row">
            <div class="col">
                <h4>News 1:</h4>
                <p class="lead">
                    Pogoń zafundowała swoim kibicom w tym sezonie istną jazdę bez trzymanki, przy której Kingda Ka
                    (uważana za najwyższą na świecie kolejkę górską) się chowa. Szorowanie po dnie tabeli, potem
                    zbudowanie twierdzy w Szczecinie i nieśmiałe przebąkiwania o pucharach, następnie kolejny dołek,
                    przez który Portowcy do ostatnich chwil drżeli o awans do górnej ósemki, a na sam koniec:


                    – pozbawili fotela lidera Legii Warszawa

                    – odroczyli o kilka dni mistrzowską fetę Piasta (Pogoń była JEDYNĄ drużyną, która w grupie
                    mistrzowskiej nie przegrała z gliwiczanami)

                    – rozbili świętującą awans do pucharów Cracovię na jej terenie (choć gdyby Jagiellonia w równolegle
                    toczonym meczu zdołała chociaż zremisować w Gdańsku, to w Krakowie byłaby żałoba, a nie fiesta).
                </p>
            </div>

            <div class="col">
                <h4>News2</h4>
                <p>
                    Żyro i Izumisawa odchodzą z Pogoni

                    Michał Żyro oraz Japończyk Jin Izumisawa to kolejni zawodnicy, którzy po zakończeniu sezonu odejdą z
                    Pogoni Szczecin – poinformował na dzisiejszej konferencji prasowej trener Kosta Runjaić. W przypadku
                    Żyry skończy się wypożyczenie z angielskiego Wolverhampton Wanderers FC, zaś kontrakt Japończyka
                    został rozwiązany za porozumieniem stron.

                    Żyro trafił do Pogoni w sierpniu minionego roku. W kończącym się sezonie Lotto Ekstraklasy rozegrał
                    jedenaście spotkań i strzelił jednego gola. Izumisawa z kolei w trakcie półrocznego pobytu w
                    Szczecinie wystąpił w jednym meczu i też zdobył jedną bramkę.

                    Wypożyczeni natomiast odpowiednio do Rakowa Częstochowa, Wigier Suwałki i Pogoni Siedlce Marcin
                    Listkowski, Damian Pawłowski i Mateusz Bochnak rozpoczną z „Portowcami” przygotowania do nowego
                    sezonu.

                    Wiadomo także, że w ramach przygotowań do kolejnych rozgrywek Lotto Ekstraklasy Pogoń wyjedzie m.in.
                    na zgrupowanie do Gniewina.
                </p>

                <a class="btn btn btn-primary active float-right">Wcisnij aby przeczytaj wiecej</a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<style>
    .navbar {
        background-color: #23415C;
    }

    .nav-link {
        color: white;
    }
</style>

</html>

